<div class="text-center">
  <i class="far fa-question-circle"></i>
  <div>
    <p>Sorry but something went wrong with your validation key.</p>
    <p>If you copied/typed the url, please check your input.</p>
    <p>If you used the link, contact us or make a new request.</p>

    <%= link_to "Make a new request", root_path, class: 'btn btn-primary mb-3' %>
  </div>
</div>