<p>Your request was saved.</p>
<p>A validation mail was sent to you, please confirm you request within <%= pluralize(params["delay"], 'day') %> or your request will be canceled.</p>

<%= link_to "Make a new request", root_path, class: 'btn btn-primary' %>