<div class="text-center">
  <i class="fas fa-ban"></i>
  <div>
    <p>Sorry but your validation link has already expired and your request was canceled.</p>
    <p>You can make a new requets using the button below.</p>

    <%= link_to "Make a new request", root_path, class: 'btn btn-primary' %>
  </div>
</div>